@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #161920;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2em;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: white;
}


